*{

  box-sizing: border-box;
    font-size:16px;
    
}

body{
    font-family: arial, sans-serif;
    font-weight: 400;
    color: rgb(75, 73, 73);
    margin: 0;
    
}

/* NAVIGATION */

.nav-bg{
    background-color: rgb(237, 237, 237);
    margin: 0;
    padding:.5em 0;
}

header{
    position: fixed;
    width: 100%;
}
main{
    padding-top:7em ;
}


.form{  
   
    border: 1px solid rgb(193, 193, 204);
    margin: 0em .5em;
    border-radius: 2px;
    background-color: white;
   
}

.logo{
   max-width: 120px;
   padding-left:5px ;
   
}

input[type="text"]{
    border: none;
    width: 90%;


}
.form-input:focus-within{
 outline: none;

}
.search-img{
    position: relative;
    max-height: 20px;
    top: 5px;
}
.icon{
    max-height:25px;
    padding:4px;
}
.avater{
    border:1px solid black;
    border-radius:100px;
    background-color: black;
    width: 25px;
    height:25px;
}




.nav{
    display: flex;
    list-style: none;
    padding:.2em 0em;
   margin: 0;
    
    
}
.nav >li{
    padding:0.5em ;
    font-size: 0.875rem;
    font-weight: 400;
}
.nav >li :hover{
    color: blue;
    border-bottom:2px solid blue ;
}
.push{
    margin-left: auto;
    padding-right: 5px;
}
a{
    text-decoration: none;
    color: rgb(119, 117, 117);
}

/* 
MAIN */
.search-speed{
    font-size: 0.812rem;
}
.title > a {
    font-size:1.25rem ;
    color: #1a0dab;

}
.text{
    margin: ;
    color:green;
}


.search-result{
    margin: 1em auto;
  
}

.table{ 
    margin: 30px 0 ;
}



.grid-wrapper{
    display: grid;
    grid-template-columns:2fr 6fr 4fr ;
}




@media screen and (max-width:700px) {
    
    :root{
        font-size: 12px;
    }
    

    .logo{
        max-width:80px;
       max-height: 30px;
     }
     .middle{
         padding: 0 20px;
     }
     li> a{
         font-size: 10px;
     }

     input[type="text"]{
        border: none;
        width: 80%;
       max-height: 10px;
    
    }
   
}

